<header>
	<div>
		<%= image_tag('hamburger-menu.png', class: 'menu-icon') %>
	</div>
	<div>
		<%= image_tag('logo.png', class: 'logo') %>
	</div>
	<div>
		<ul>
			<% if session[:user_id] %>
				<li><%= link_to 'My Profile', user_path(id: session[:user_id]) %></li>
				<li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
			<% else %>
				<li><%= link_to 'Register', new_user_path %></li>
				<li><%= link_to 'Login', login_path %></li>
			<% end %>
		</ul>
	</div>
</header>