<!DOCTYPE html>
<html>
  <head>
    <title>RecipeOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<%= image_tag('hamburger-menu.png', class: 'menu-icon') %>
  	<%= image_tag('logo.png', class: 'logo') %>
	<nav>
		<ul>
			
		</ul>
	</nav>
  </header>
    <%= yield %>
  </body>
</html>
